*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.content {
  padding-top: 133px;
  padding-bottom: 133px;
  padding-left: auto;
  
  display: grid;
  grid-auto-flow: column;
  gap: 30px;

}

.result__video-container {
  padding: 0 auto;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.content__details {
  width: 100%;
  height: 100%;
  
}

.title {
  padding-bottom: 30px;
}

.content__list {
  height: 534px;
  overflow-y:scroll;
  overflow-x: hidden;
}
